<div class="container" @fadeAnimation>
    <h1> Dashboard</h1>

    <section>
        <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" [hideSingleSelectionIndicator]="true">
            <mat-button-toggle value="day" (click)="loadInformation('day')">Dias</mat-button-toggle>
            <mat-button-toggle value="week" (click)="loadInformation('week')">Semanas</mat-button-toggle>
            <mat-button-toggle value="month" (click)="loadInformation('month')">Meses</mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <div class="information">
        <div class="chart-container">
            <canvas id="canva"></canvas>
        </div>

        <div class="sellings-container">
            <div class="most">
                <img src="{{informationSelling.image_url}}" alt="mostSelling">
                <span>
                    {{informationSelling.name}}
                </span>
            </div>
        </div>
    </div>
</div>

@if(wip){
    <app-loading></app-loading>
}