<div class="container">
    <!-- Título y botón para agregar -->
    <div class="header">
        <h1>Extras</h1>
        @if (showForm) {
        <mat-icon class="close" appTooltip="Close form" placement="top" [delay]="200"
            (click)="toggleForm()">close</mat-icon>
        } @else {
        <mat-icon class="open" appTooltip="Add item" placement="top" [delay]="200" (click)="toggleForm()">add</mat-icon>
        }
    </div>

    <!-- Lista de datos -->
    <div *ngIf="!showForm" class="list-container">
        <mat-list>
            <div *ngFor="let extra of extras">
                <div class="row">
                    <!-- Contenedor para nombre y precio -->
                    <span class="details">
                        <div mat-line class="name">{{ extra.name }}</div>
                        <div mat-line class="price">Price: {{ extra.price | currency }}</div>
                    </span>
                    <!-- Contenedor para acciones -->
                    <div class="actions">
                        <mat-icon appTooltip="Edit" placement="top" [delay]="200" (click)="editExtra(extra)">edit</mat-icon>
                        <mat-icon appTooltip="Products associated" placement="top" [delay]="200"
                            (click)="showProducts(extra?.products)">visibility</mat-icon>
                        <mat-icon appTooltip="Delete" placement="top" [delay]="200" (click)="deleteExtra(extra?._id)">delete</mat-icon>
                    </div>
                </div>
                <hr>
            </div>
        </mat-list>
    </div>

    <!-- Formulario para agregar/editar -->
    <div *ngIf="showForm" class="form-container">
        <form [formGroup]="extraForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter the extra name" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number" placeholder="Enter the price" />
            </mat-form-field>

            <div class="chip-list">
                <mat-chip-set>
                    <mat-chip *ngFor="let product of selectedProducts; let i = index" (removed)="removeProduct(i)">
                        {{ product?.name }}
                        <button mat-icon-button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-set>
                <button mat-button color="primary" type="button" (click)="openProductDialog()">
                    Add Products
                </button>
            </div>

            <div class="form-actions">
                @if(editStatus) {
                    <button mat-raised-button color="primary" type="submit" [disabled]="extraForm.invalid">
                        Edit
                    </button>
                } @else {
                    <button mat-raised-button color="primary" type="submit" [disabled]="extraForm.invalid">
                        Add
                    </button>
                }
                <button mat-button color="warn" type="button" (click)="toggleForm()">Cancel</button>
            </div>
        </form>
    </div>

    <!-- Dialog para selección de productos -->
    <ng-template #productDialog>
        <h2 mat-dialog-title>Select Products</h2>
        <mat-dialog-content class="dialog-content">
            <mat-selection-list [(ngModel)]="dialogSelectedProducts">
                <mat-list-option *ngFor="let product of allProducts" [value]="product">
                    {{ product?.name }}
                </mat-list-option>
            </mat-selection-list>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button color="primary" type="button" (click)="addProducts()">Add</button>
            <button mat-button mat-dialog-close (click)="resetSelected()">Close</button>
        </mat-dialog-actions>
    </ng-template>

    @if (pop) {
    <div class="pop-container">
        <app-pop [data]="itemData" [state]="setVisible" (setState)="closeReceipt($event)"></app-pop>
    </div>
    }
</div>