<div class="contenedor">

    @if(!add){
    <div class="option">
        <mat-icon class="open" appTooltip="Agregar" placement="top" [delay]="200" (click)="addItem()">add</mat-icon>
    </div>

    <div class="grid">
        @if (items.length === 0) {
        <p>No hay items, agrega uno!</p>
        }
        @for (item of filteredItems; track item) {
        <div class="item">
            <img [src]="item.image_url" alt="">
            <div class="info">
                <p>{{item.name}}</p>
                <small>Precio: $ {{item.price}} mxn / Stock: {{ item.stock }} u</small>
            </div>
            <div class="options">
                @if (item.supplies) {
                <mat-icon appTooltip="Incluye" placement="top" [delay]="200"
                    (click)="showReceipt(item.supplies)">receipt_long</mat-icon>
                }
                @if (item.products) {
                <mat-icon appTooltip="Incluye" placement="top" [delay]="200"
                    (click)="showReceipt(item.products)">receipt_long</mat-icon>
                }
                @if(item.haveStock) {
                <mat-icon appTooltip="Agregar stock" placement="top" [delay]="200" (click)="findStock(item)">add</mat-icon>
                }
                <mat-icon appTooltip="Editar" placement="top" [delay]="200" (click)="editItem(item)">edit</mat-icon>
                <mat-icon appTooltip="Eliminar" placement="top" [delay]="200"
                    (click)="deleteItem(item._id)">delete</mat-icon>
            </div>
        </div>
        }
    </div>
    }

    @if(add){
    <div class="option">
        <mat-icon class="close" appTooltip="Cerrar" placement="top" [delay]="200" (click)="closeItem()">close</mat-icon>
    </div>
    <div class="form-container">
        <h3>{{action.toLocaleUpperCase()}} {{title.toLocaleUpperCase()}}</h3>
        <form [formGroup]="form" (ngSubmit)="process()">
            <mat-form-field appearance="outline" class="question">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Write name" formControlName="name" required>
                @if (form.get('name')?.hasError('required')) {
                <mat-error>Es requerido</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="question">
                <mat-label>¿Tendra Stock?</mat-label>
                <mat-select formControlName="haveStock" (selectionChange)="onHaveStockChange($event)">
                    <mat-option>None</mat-option>
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
                @if (form.get('haveStock')?.hasError('required')) {
                <mat-error>Es requerido</mat-error>
                }
            </mat-form-field>

            @if((isNotSupply)) {
            <mat-form-field appearance="outline" class="question">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="Set a price" formControlName="price">
                <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
            }

            <!-- HTML para Combos con campo de descuento para cada producto añadido -->
            @if(title.toLowerCase() === 'combos'){
            <button class="open btn-extras btn-products" type="button" (click)="openAddProductModal()"
                [disabled]="!(enableActions$ | async)" appTooltip="Solo con internet" placement="top"
                [delay]="200">Agregar Productos</button>

            <!-- Mostrar el FormArray de comboProducts -->
            <div formArrayName="products" class="products-container">
                @for (product of products.controls; track product; let i = $index) {
                <div [formGroupName]="i" class="product-item">
                    <div class="product-info">
                        <span>Producto: {{ product.get('name').value }}</span>
                        <!--<input type="number" min="0" max="100" formControlName="discount" appTooltip="Discount (%)"
                            placement="top" [delay]="200" />-->
                    </div>
                    <button type="button" class="open btn-extras btn-products"
                        (click)="removeComboProduct(product.value)">Remover</button>
                </div>
                }
            </div>
            }


            @if(title.toLowerCase() === 'products'){
            <button class="open btn-extras btn-supplies" type="button" (click)="openAddSupplyModal()"
                [disabled]="!(enableActions$ | async)" appTooltip="Solo con internet" placement="top"
                [delay]="200">Agregar suministros</button>

            <!-- Mostrar el FormArray de supplies -->
            <div formArrayName="supplies" class="supplies-container">
                @for (supply of supplies.controls; track supply; let i = $index) {
                <div [formGroupName]="i" class="supply-item">
                    <div class="supply-info">
                        <span>Suministro: {{ supply.get('name').value }}</span>
                        <input type="number" min="1" formControlName="required" appTooltip="Cantidad requerida"
                            placement="top" [delay]="200" />
                    </div>
                    <button type="button" class="open btn-extras btn-supplies"
                        (click)="removeSupply(supply.value)">Remover</button>
                </div>
                }
            </div>
            }

            <div class="file-sel">
                <mat-label>Elige una imagen</mat-label>
                <!-- Botón que simula el clic en el input oculto -->
                <button type="button" class="image-button" (click)="fileInput.click()">
                    <mat-icon>add_a_photo</mat-icon>
                    Seleccionar
                </button>
                <!-- Input de tipo file oculto -->
                <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden />
                @if(selectedImageName) {
                <small>Imagen seleccionada: {{ selectedImageName }}</small>
                } @else if(editedImage !== '') {
                <small>Imagen Actual</small>
                <img class="rec" [src]="editedImage" alt="">
                }
            </div>

            @switch (action) {
            @case ('agregar') {
            <button class="btn-add" type="submit">Crear</button>
            }
            @case ('editar') {
            <button class="btn-add" type="submit">Editar</button>
            }
            }

            @if(showAddSupplyModal){
            <div class="add-supplies-wrapper">
                <div class="add-supplies-container" [@scaleAnimation]="addSupplyState">
                    <div class="modal-content">
                        <h3>Seleccionar suministros</h3>
                        <div class="checklist">
                            @for (supply of suppliesList; track supply) {
                            <mat-checkbox (change)="onSupplySelected(supply, $event)"
                                [checked]="isSupplySelected(supply)">
                                {{ supply.name }} @if(supply.stock !== 0){({{ supply.stock }})}
                            </mat-checkbox>
                            }
                        </div>
                        <button mat-raised-button class="open btn-extras btn-supplies" type="button"
                            (click)="closeAddSupplyModal()">Cerrar</button>
                    </div>
                </div>
            </div>
            }

            @if(showAddProductModal) {
            <div class="add-products-wrapper">
                <div class="add-products-container" [@scaleAnimation]="addProductState">
                    <div class="modal-content">
                        <h3>Seleccionar Productos</h3>
                        <div class="checklist">
                            <!-- Lista de productos con checkbox para seleccionarlos -->
                            @for (product of productsList; track product) {
                            <mat-checkbox (change)="onProductSelected(product, $event)"
                                [checked]="isProductSelected(product)">
                                {{ product.name }}
                                @if(product.stock !== 0) {
                                ({{ product.stock }})
                                }
                            </mat-checkbox>
                            }
                        </div>
                        <!-- Botón para cerrar el modal -->
                        <button mat-raised-button class="open btn-extras btn-products" type="button"
                            (click)="closeAddProductModal()">Cerrar</button>
                    </div>
                </div>
            </div>
            }
        </form>
    </div>
    }


    @if (pop) {
    <div class="pop-container">
        <app-pop [data]="itemData" [state]="setVisible" (setState)="closeReceipt($event)"></app-pop>
    </div>
    }

    @if (showStock) {
    <div class="add-stock-wrapper">
        <div class="add-stock-container" [@scaleAnimation]="state">
            <div class="counter-wrapper">
                <h4>Stock Actual: {{actualStock}}</h4>
                <div class="counter">
                    <mat-icon class="btn-extras" (click)="increaseStock()" appTooltip="Agregar stock" placement="top"
                        [delay]="200">add</mat-icon>
                    <input type="number" [(ngModel)]="stock" class="stock-input" (blur)="validateStock()"
                        [min]="-actualStock" />
                    <mat-icon class="btn-extras" (click)="decreaseStock()" appTooltip="Remover stock" placement="top"
                        [delay]="200">remove</mat-icon>
                </div>
                <button class="open" type="button" (click)="addStock()">Modificar Stock</button>
                <mat-icon class="close optional" (click)="closeStockChange()">close</mat-icon>
            </div>
        </div>
    </div>
    }

</div>

@if (wip) {
<app-loading></app-loading>
}