<div class="container">
    <div class="logo">
        <img src="logo-flat-no-background.png" alt="Logo">
    </div>
    <div class="form-wrapper">
        <form [formGroup]="form" (ngSubmit)="process()">
            <mat-form-field appearance="outline" class="question">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Write name" formControlName="username" required>
                @if (form.get('name')?.hasError('required')) {
                <mat-error>Is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="question">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Write password" type="password" formControlName="password" required>
                @if (form.get('password')?.hasError('required')) {
                <mat-error>Is required</mat-error>
                }
            </mat-form-field>

            <button class="btn-add" type="submit">Login</button>
        </form>
    </div>
</div>

@if(wip){
    <app-loading></app-loading>
}
